<div class="home-page">
  <h1 class="main-title">Welcome to Shoutr App</h1>
  <div class="main-description">
    Shoutr App is an Ukrainian microblogging and social networking service on which users post and interact with messages known as "shouts".
  </div> 
</div>